body {
    background-color: #111111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#title {
    text-align: center;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* File select */
#file-label {
    display: inline-block;
    margin: 0 20px;
    color: #ccc;
}
.file-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: #383838;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.file-select:hover {
    border-color: #fff;
}
#file-input {
    box-shadow: none;
    border-radius: 0;
}

/* Loading spinner */
#loading-spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Progress bar */
#progress {
    flex-direction: column-reverse;
    font: 2.5em sans-serif;
    color: #ffab40;
}
progress[value] {
    width: 12.5em;
    height: 0.25em;
    border: none;
    border-radius: 0.125em;
    background: #2a2d2f;
}
progress[value]::-webkit-progress-bar {
    border: none;
    border-radius: 0.125em;
    background: #2a2d2f;
}
progress[value]::-webkit-progress-value {
    border: none;
    border-radius: inherit;
    background: linear-gradient(90deg, #ffeb3b, #ffab40);
}
progress[value]::-moz-progress-bar {
    border: none;
    border-radius: inherit;
    background: linear-gradient(90deg, #ffeb3b, #ffab40);
}
progress[value]::-ms-fill {
    border: none;
    border-radius: inherit;
    background: linear-gradient(90deg, #ffeb3b, #ffab40);
}
output:not(:empty) {
    padding-bottom: 1em;
}
output:not(:empty):after {
    content: '%';
}
#progress-text {
    margin: 12px 0;
    color: #beb9b0;
    font-size: 0.5em;
}

/* Menu */
.mdl-layout__drawer {
    background-color: #1b1d1e;
    color: #beb9b0;
    border-right: 1px solid #2a2d2f;
}
.mdl-navigation .mdl-navigation__link {
    cursor: pointer;
    color: #9e9689;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #2a2d2f;
}

/* Plots view */
.page-content {
    height: 100vh;
    margin-top: 10px;
}
.plot-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
#plot-container {
    width: 100%;
    height: 100%;
}
.plotly-graph-div {
    height: 100%;
}
#plot {
    height: 100%;
}

/* User select dark mode */
.vscomp-wrapper {
    color: #beb9b0 !important;
}
.vscomp-toggle-button {
    background-color: #1b1d1e !important;
    border: 1px solid #2a2d2f !important;
}
.vscomp-dropbox {
    background-color: #1b1d1e !important;
    border: 1px solid #2a2d2f !important;
}
.vscomp-search-container {
    border-bottom: 1px solid #2a2d2f !important;
}
.vscomp-arrow::after {
    border-bottom-color: #beb9b0 !important;
    border-right-color: #beb9b0 !important;
}
.pop-comp-wrapper {
    background-color: #1b1d1e !important;
    color: #beb9b0 !important;
}
.vscomp-option.focused {
    background-color: #2a2d2f !important
}
.vscomp-option.selected {
    background-color: #383838 !important;
}
